@use 'bootstrap';

@use './partials/variables.scss' as *;

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $bfx-medium;
}

.col {
    max-width: 342px !important;
    padding: 0 !important;
}

h2 {
    color: $bfx-primary !important;
    margin-bottom: 2rem;
}