@use 'bootstrap';

@use './partials/variables.scss' as *;

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $bfx-medium;
}

p,
span {
    color: $bfx-primary !important;
}

h1,
h2,
h3 {
    color: $bfx-primary !important;
    margin-bottom: 2rem;
}