@use './variables.scss' as *;

.bfx-btn {
    border: 1px solid transparent;
    padding: 0.3rem 0.8rem;
    background-color: $bfx-accent;
    color: $bfx-primary;
}

.bfx-btnDisabled {
    background-color: $bfx-medium;
    border: 1px solid $bfx-dark;
}