@use './variables.scss' as *;

.bfx-logo img {
    height: 100px;
}



.nav-link {
    text-decoration: none;
    color: $bfx-primary;
    font-weight: bold;
    border-bottom: 3px solid transparent !important;

    &:hover {
        cursor: pointer;
    }

}

.bfx-active {
    border-bottom: 3px solid $bfx-accent !important;
}

.bfx-btn {
    border: none;
    padding: 0.3rem 0.8rem;
    background-color: $bfx-accent;
    color: $bfx-primary;
}