@use './variables.scss' as *;

.carousel {
    overflow: hidden;
}

.inner {
    transition: transform 0.2s;
    white-space: nowrap;
}

.bfx-prev {
    height: 256px;
    width: 3rem;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bfx-primary;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(34, 31, 31);
    background: linear-gradient(90deg, rgba(34, 31, 31, 1) 12%, rgba(255, 255, 255, 0) 72%);
    cursor: pointer;
}

.bfx-next {
    height: 256px;
    width: 3rem;
    top: 0;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bfx-primary;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(34, 31, 31);
    background: linear-gradient(180deg, rgba(34, 31, 31, 1) 12%, rgba(255, 255, 255, 0) 72%);
    cursor: pointer;
}